.course-item {
  display: inline-block;
  width: 250px;
  height: 275px;
  padding: 30px;
  flex-basis: 25%;
  max-width: 250px;
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  /*border-radius: 10px;*/
  margin: 20px;
  box-shadow: none;
}

.course-item-default {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.745);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.course-item img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 30px;
}

.course-item > span {
  display: inline-block;
}

.course-item button {
  width: 100%;
}

.course-item .course-item-title {
  height: 42px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course-item .course-item-title span {
  text-overflow: ellipsis;
}

.course-item .registration-button-container button {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: rgba(0, 0, 0, .65);
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.course-item .registration-button-container button:hover {
  background-color: #ffc61a;
  border: 0;
}


.course-container-no-button {
  cursor: pointer;
}

.course-container-no-button .course-item:hover {
  border: 2px solid #ffc61a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.course-container-no-button .course-item:active:hover {
  border: 2px solid rgba(255, 198, 26, .3);
  -webkit-box-shadow: 0 2px 10px 0 rgba(255, 198, 26, 0.745);
  -moz-box-shadow: 0 2px 10px 0 rgba(255, 198, 26, 0.4);
  box-shadow: 0 2px 10px 0 rgba(255, 198, 26, 0.4);
}

.course-container-no-button .course-item img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 30px;
}

.course-container-no-button .course-item .course-item-title {
  height: 42px;
  margin-bottom: 10px;
  overflow: hidden;
}