.course-container .sections-list-wrapper {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-right: 5px;
}

.course-container .sections-container img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.course-container .section-training-wrapper {
  display: inline-block;
  width: calc(80% - 5px);
  vertical-align: top;
  /*background-color: #f0f2f5;*/
  /*padding: 0 30px;*/
  border-radius: 10px;
}

@media (max-width: 900px) {
  .course-container .sections-list-wrapper {
    width: 100%;
  }

  .course-container .section-training-wrapper {
    width: 100%;
  }
}