.main-layout {
  height: 100%;
}

.app-header-fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.main-layout > section.ant-layout {
  display: inline-block;
}

.narrow-layout {
  max-width: 1024px;
  margin: auto;
}

.narrow-layout.ant-card {
  max-width: 1024px;
  margin: auto;
}
