header.ant-layout-header {
  height: 120px;
  line-height: 120px;
  padding: 0 150px 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

header.ant-layout-header .app-header .nav-button {
  display: none;
  margin: 10px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.user-panel > .panelelement {
  margin: 6px;
}

.app-header .header-container {
  display: inline-flex;
}

.app-header .header-container h1 {
  margin: 0 0 0 50px;
  color: #000;
  font-size: 32px;
  text-transform: uppercase;
}

.app-header .header-container img {
  height: 40px;
  /*width: 100px;*/
}

.app-header .header-container img.logo-small {
  display: none;
}

@media (max-width: 900px) {
  header.ant-layout-header.blank-space {
    height: 53px;
  }

  header.ant-layout-header:not(.blank-space) {
    height: auto;
    line-height: normal;
  }

  header.ant-layout-header .app-header {
    height: auto;
    line-height: normal;
  }

  header.ant-layout-header .app-header .nav-button {
    display: block;
  }

  header.ant-layout-header .app-header .nav-block {
    display: none;
  }

}

@media (max-width: 1700px) {
  header.ant-layout-header {
    padding: 0;
  }
}

@media (max-width: 1400px) {
  .app-header .header-container img.logo-small {
    display: inline-flex;
  }

  .app-header img.logo {
    display: none;
  }
}