section.ant-layout {
  padding: 0 !important;
}

.course-items {
  display: flex;
  flex-flow: row wrap;
}

.course-items-container {
  padding: 0 70px;
}

.courses-container hr {
  margin: 40px 0;
  opacity: 1;
  border-top: 0;
}