.course-no-button-item {
  display: inline-block;
  width: 250px;
  height: 275px;
  padding: 30px;
  flex-basis: 25%;
  max-width: 250px;
  overflow: hidden;
  margin: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.745);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.course-no-button-item:hover {
  border: 2px solid #ffc61a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.course-no-button-item:active:hover {
  border: 2px solid rgba(0, 0, 255, .3);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 255, 0.745);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 255, 0.4);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 255, 0.4);
}

.course-no-button-item img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 30px;
}

.course-no-button-item .course-item-title {
  height: 42px;
  margin-bottom: 10px;
  overflow: hidden;
}