.section-container-body{
  background-color: #f0f2f5;
}

.section-training-container * {
  width: 100%;
}

.section-training-container hr {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 100px;
}

.section-training-container .section-training-title {
  font-size: 32px;
  text-align: center;
}

.section-training-container .section-training-author p {
  font-weight: bold;
}

#google-map-container,
.section-container-body {
  min-height: 800px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
}

.section-container-body iframe {
  height: 800px;
}

.title-container span {
  display: block;
  margin-bottom: 5px;
}