.wrapper {
  width: 100%;
  height: 100%;
  padding: 0 200px;
  margin: 0 auto;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 50px 100px;
}

.ant-carousel {
  height: 100%;
}

.content-container h1 {
  text-transform: uppercase;
  font-size: 50px;
}

.main-menu-carousel {
  width: 100%;
  text-align: center;
}

.image-carousel {
  /*height: 460px;*/
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
}

.carousel-bottom-menu {
  position: absolute;
  width: 100%;
}

.main-carousel-bottom-menu i:nth-child(1) {
  position: absolute;
  left: 5%;
}

.main-carousel-bottom-menu i:nth-child(2) {
  position: absolute;
  right: 5%;
}

.main-carousel-bottom-menu {
  position: relative;
  width: 100%;
  bottom: 90px;
}

.main-carousel-bottom-menu-arrow {
  margin: 15px;
  margin-bottom: 20px;
  font-size: x-large;
  border-radius: 50%;
  transition: 0.3s;
}

.main-carousel-bottom-menu-arrow:hover {
  background-color: darkgrey;
}

.main-menu-carousel-image-container {
  height: fit-content;
  max-height: 450px;
}

.main-menu-carousel-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: inherit;
  object-fit: contain;
  width: 50%;
}

.content-container hr {
  margin: 40px 0;
  opacity: 1;
  border-top: 0;
}

@media (max-width: 900px) {
  .wrapper {
    padding: 0;
  }

  .content-wrapper {
    padding: 0;
  }

  .content-container h1 {
    font-size: 32px;
    padding-top: 15px;
    padding-left: 15px;
  }

  .main-carousel-bottom-menu-arrow {
    font-size: 15px;
  }
}