.wrapper {
  width: 100%;
  height: 100%;
  padding: 0 200px;
  margin: 0 auto;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 50px 100px;
}

.content-container h1 {
  text-transform: uppercase;
  font-size: 50px;
}

.main-menu-carousel {
  height: auto;
  border: 2px solid black;
  border-right: white;
  border-left: white;
  align-items: baseline;
  text-align: center;
}

.main-carousel-bottom-menu {
  text-align: center;
  border-bottom: 2px solid black;
}
.main-carousel-bottom-menu-arrow {
  margin: 15px;
  margin-bottom: 20px;
  font-size: x-large;
}
.main-menu-carousel-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.content-container hr {
  margin: 40px 0;
  opacity: 1;
  border-top: 0;
}
